
<div>
  <img src="<%= @user.photo %>"/>
    <h2><%= @user.name%></h2>
    <p>Number of posts <%= @user.posts_counter %></p>
</div>
<div>
 <h3>Bio</h3>
<p><%= @user.bio %><p>
</div>

<div>
<ul>
   <% @user.most_three_recent_post.each do |post| %>
   <li> <a href= "<%=@user.id%>/posts/<%=post.id%>">Post #<%= post.id %> </a>
       <p> <%= post.title %> </p>
      <p><span>comments: <%=post.comments_counter%> </span>
       <span>Likes: <%=post.likes_counter%> </span>
       </p>
    </li>
   <% end %>
  </ul>
</div>
<div><button><a href= "<%=@user.id%>/posts/">See all posts</a></button></div>
