<div>

 <a href= "/users/<%=@user.id%>/posts/<%=post.id%>">Post #<%= post.id %></a>
      <p> <%= post.title %> </p>
      <p><span>comments: <%=post.comments_counter%> </span>
       <span>Likes: <%=post.likes_counter%> </span>
       </p>
</div>
