<%= render 'shared/user', user:@user%>
<div>
<ul>
   <% @posts.each do |post| %>
   <li>
      <%= render 'shared/post', post:post %>
    </li>
     <%post.five_most_recent_comments.each do |comment| %>
       <p><span>Username:</span><%=comment.author.name %>
        <span>Comment:</span><%=comment.text %> </p>
       <% end %>
   <% end %>
  </ul>
</div>

<div>
<button>Pagination</button>
<button><%= link_to 'Back', :back %></button>
</div>

