<div>
  <img src="<%= @users.photo %>"/>
    <h2><%= @users.name%></h2>
    <p>Number of posts <%= @users.posts_counter %></p>
</div>
<div>
<div>
<ul>
   <% @posts.each do |post| %>
   <li> <p>Post #<%= post.id %> </p>
       <p> <%= post.title %> </p>
      <p><span>comments: <%=post.comments_counter%> </span>
       <span>Likes: <%=post.likes_counter%> </span>
       </p>
    </li>
     <%post.five_most_recent_comments.each do |comment| %>
       <p><span>Username:</span><%=comment.author.name %>
        <span>Comment:</span><%=comment.text %> </p>
       <% end %>
   <% end %>
  </ul>
</div>

<div><button>Pagination</button></div>

